/* Migrated from scss/legacy — edit this file, not css/ */

/*text_image_section*/

.text_image_section {
    padding: 4rem 0;
}

.text_image_header {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
}

.text_image_section.left_image .row {
    flex-direction: row-reverse;
}


@media (min-width: 767px) {

    .text_image_section.left_image .content_wrapper {
        padding-left: 2rem;
    }

}

.text_image_section .image_wrapper {
    border-radius: 80px;
    overflow: hidden;
    max-width: 674px;
    margin-right: auto;
    margin-left: auto;
}

.text_image_section .image_wrapper img {
    height: 100%;
    border-radius: 80px;
    overflow: hidden;
}

.text_image_section .content_wrapper {
    padding-right: 5rem;
}

.text_image_section .content_wrapper .description {
    font-size: 24px;
    line-height: 1.17;
}
