/*section_application_seps*/
.section_application_steps {
    position: relative;
    padding: var(--section-space-y-lg, 5rem) 0;
}

.section_application_steps .title_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 398px;
    margin-left: auto;
    padding-left: 15px;
}

.section_application_steps:before {
    position: absolute;
    content: '';
    left: 0;
    width: 65%;
    height: 100%;
    top: 0;
    background-color: #F5F5F5;
    border-radius: 0 148px 148px 0;
}

.section_application_steps:after {
    position: absolute;
    content: '';
    right: 0;
    width: calc(35% - 15px);
    height: 100%;
    top: 0;
    z-index: -1;
    background-color: #2994FF;
    border-radius: 148px 0 0 148px;
}

.steps_list {
    max-width: 950px;
}

.steps_list .sub_title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    min-height: 30px;
    margin-bottom: 1rem;
}

.steps_list .text {
    margin-bottom: 1rem;
}

.steps_list .text span {
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-top: 15px;
}
