/*section_cooperation start*/
.section_logo,
.section_cooperation {
    margin: var(--section-space-y-lg, 5rem) 0;
}

footer .section_cooperation {
    margin: 0;
    padding: 4rem 0 0 0;
    background-color: #EEF7FF;
}

footer .section_cooperation .row {
    justify-content: center;
}

.section_logo_header .sub_title,
.cooperation__header .sub_title {
    max-width: 1080px;
}

.wrapper_logos,
.cooperation__list_logos {
    margin-left: auto;
    margin-right: auto;
}

.section_logo .wrapper_logos {
    margin: 2rem auto;
}

.section_logo .logo_item,
.cooperation__list_logo {
    display: flex;
    align-items: center;
}

.cooperation__list_logo img,
.section_logo .logo_item img {
    margin: 0 auto;
    width: auto;
    height: auto;
}

.section_logo .logo_item:first-child img,
.section_logo .logo_item:nth-child(2) img {
    max-width: 200px;
}

.section_logo .logo_item:nth-child(3) img,
.section_logo .logo_item:nth-child(4) img {
    max-width: 140px;
}

@media (min-width: 1441px) {
    .section_logo .logo_item:first-child img {
        max-width: 260px;
    }
}
