/*section_language*/

.section_language .content_wrapper,
.section_language.list_style_vertical li {
    font-size: 24px;
    line-height: 29px;
}

/*section_language*/

.section_language {
    padding: 5rem 0;
    background-color: #EEF7FF;
}

.section_language ul li {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 1rem;
}
