/*section_video_lecturers start*/
.section_video_lecturers {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.section_video_lecturers h2 .arrow-right:after {
    right: -32px;
    top: 50px;
}

.section_video_lecturers:after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    left: 0;
    height: 25rem;
    background-color: #E9F3FF;
}

.video-section .plyr__video-wrapper {
    width: 100%;
    max-width: 33rem;
    overflow: hidden;
    position: relative;

}

.video-section .owl-stage {
    padding-left: 0 !important;
}

.video-section video {
    width: 100%;
    max-height: 100%;
}

.video-section .plyr__video-wrapper,
.video-section .plyr__poster {
    height: 670px;
}

@media (max-width: 1440px) {

    .video-section .plyr__video-wrapper,
    .video-section .plyr__poster {
        height: 480px;
    }

}

@media (max-width: 1280px) {

    .video-section .plyr__video-wrapper,
    .video-section .plyr__poster {
        height: 560px;
    }

}

@media (max-width: 480px) {

    .video-section .plyr__video-wrapper,
    .video-section .plyr__poster {
        height: 380px;
    }

    .single #content {
        margin-top: 14rem;
    }

}

.video-section .plyr__poster {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.video-section .item {
    position: relative;
}

.video-section .item .plyr__poster:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(31, 27, 81, 0.29);
    z-index: 0;
}

.video-section .active .item {
    position: relative;
}

.video_lecturers_caption {
    position: absolute;
    content: '';
    width: 80%;
    height: 120px;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem;
    text-align: left;
    background-color: #1F1B51;
    color: #ffffff;
    font-size: 24px;
    line-height: 29px;
}

@media (min-width: 1441px) {

    .video_lecturers_caption {
        font-size: 24px;
        line-height: 29px;
    }

}

.video-section .owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.video-section .plyr__control.plyr__control--overlaid {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}

.video-section button:focus,
.video-section button:focus-visible,
.video-section .plyr__poster:focus-visible,
.video-section .plyr__video-wrapper:focus-visible,
.video-section .owl-item:focus-visible,
.video-section :focus-visible {
    outline: none !important;
    border: none;
}

.plyr__control svg {
    display: none;
}

.plyr__control .plyr__sr-only {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    line-height: 37px;
    width: 150px;
    height: 173px;
    margin: 0 auto;
    border-left: 7px solid #fff;
    position: relative;
    padding-right: 40px;
}

.plyr__control .plyr__sr-only::after, .plyr__control .plyr__sr-only::before {
    content: "";
    position: absolute;
    height: 7px;
    background: #fff;
    transform-origin: 0 0;
}

.plyr__control .plyr__sr-only::before {
    top: 0;
    left: 0;
    right: -25px;
    transform: rotate(30deg);
}

.plyr__control .plyr__sr-only::after {
    bottom: 0;
    right: -22px;
    left: -2.5px;
    transform: rotate(-30deg);
}

.video-section .plyr__poster-enabled .plyr__poster {
    transition: .3s ease all;
}

.plyr__control .plyr__sr-only,
.video-section .plyr__poster-enabled .plyr__poster {
    z-index: 0;
    opacity: 1;
}

.plyr__control.plyr__control--pressed .plyr__sr-only,
.video-section .plyr__poster-enabled.plyr--playing .plyr__poster {
    z-index: -1;
    opacity: 0;

}
