/* Migrated from scss/legacy — edit this file, not css/ */

.custom-page .section_title {
    font-weight: bold;
}

.custom-page .section_offer_nav {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}

.custom-page .top_banner {
    min-height: 90vh;
}

.custom-page .top_banner,
.section_top_banner {
    position: relative;
    color: #ffffff;
}

.top_banner_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.custom-page .top_banner:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 319px;
    z-index: 0;
    background: transparent linear-gradient(180deg, #1F1B5100 0%, #1F1B51 100%) 0% 0% no-repeat padding-box;;
}

.page_studying .top_banner_content {
    position: relative;
    color: black;
}

.page_studying .top_banner:before {
    display: none;
}

.language_link_group .custom_link {
    width: 154px;
    height: 35px;
    background-color: #ffffff;
    color: rgba(31, 27, 81, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 15px;
}


.language_link_item_title {
    min-width: 80px;
}

.language_link_item {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.admission_requirements {
    margin-top: 5rem;
}

.language_link_item_title {
    font-size: 24px;
    line-height: 29px;
}

.educational_qualifications_item_description {
    font-size: 1rem;
    line-height: 1.188rem;
}

.custom-page ul {
    padding-inline-start: 0px;
}

.educational_qualifications_item ul li {
    margin: 2rem 0;
}

.educational_qualifications_item ul li span {
    padding-left: 30px;
}
